#container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    height: 80vh;
    background-image: url('henhouse1.png');
    /* opacity: 0.5; */
    background-size: cover; 
    background-position: center; 
    /* align-items: center;  */
    /* background-size: contain; */
    margin: 0 auto;
    position: relative;
  }

  #basket {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 28%;
    /* height: 30%; */
   }

   .shelf {
    position: absolute;
    width: 28%;
    height: 20%;
    background-image: url('board.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #left-up-shelf {
    transform: rotate(35deg);
    left: 0;
    bottom: 60%;
  }
  
  #left-shelf {
    transform: rotate(35deg);
    left: 0;
    bottom: 25%;
  }
  
  #right-up-shelf {
    transform: rotate(5deg);
    right: 0;
    bottom: 60%;
  }
  
  #right-shelf {
    transform: rotate(5deg);
    right: 0;
    bottom: 25%;
  }

  #score-board {
    position: absolute;
    text-align: center;
    color: white;
    /* list-style-type: none; */
    /* width: 20%;
    height: 10%; */
    background-color: black;
    padding-right: 5%;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px gray;
  }

  h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
  }

  .circle-button {
    width: 100px;
    height: 100px;
    background-image: url('board.png');
    /* background-size: cover; */
    background-size: 1000%;
    background-position: 300px -80px; 
    /* background-color: #f77c09; */
    border-radius: 50%;
    border-color: bisque;
  }
  
  .circle-button.left-up {
    position: absolute;
    left: 0;
    bottom: 60%;
    text-align: left;
    margin-left: 1%;
  }
  
  .circle-button.left {
    position: absolute;
    left: 0;
    bottom: 30%;
    margin-left: 1%;
  }
  
  .circle-button.right-up {
    position: absolute;
    right: 0;
    bottom: 60%;
    margin-right: 1%;
  }
  
  .circle-button.right {
    position: absolute;
    right: 0;
    bottom: 30%;
    margin-right: 1%;
  }
